/* Estilos para a linha de topo */
.top-bar {
    display: flex; /* Adiciona o display flex */
    justify-content: space-between; /* Distribui o espaço entre o texto e os ícones sociais */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    padding: 0.1rem; /* Menos padding para tornar mais fino */
    background-color: green; /* Cor de fundo verde */
    font-size: 0.8rem; /* Tamanho da fonte menor */
    color: #fff; /* Cor do texto */
    line-height: 1rem; /* Ajusta a altura da linha do texto */
    height: 2rem; /* Define a altura total da .top-bar */
  }
  .endereco {
    margin-left: 3rem;
  }
  
  /* Estilos para os ícones sociais */
  .social {
    display: flex; /* Alinha os ícones socialmente em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    gap: 1rem; /* Espaço entre os ícones */
    margin-right: 3rem;
  }
  
  .social-icons {
    color: #fff; /* Cor dos ícones sociais */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 1rem; /* Ajusta o tamanho dos ícones */
  }
  
  .social-icons:hover {
    color: #ddd; /* Cor dos ícones ao passar o mouse */
  }
  .social p {
    margin: 0;
    color: #fff;
    font-size: 1rem;
  }
  
  /* Estilos para o header principal */
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    color: black;
  }
  
  /* Logo no espaço flexível */
  .header-logo {
    height: 50px; /* Ajuste conforme necessário */
    margin-right: 1rem; /* Espaço entre logo e título */
    margin-left: 8rem;
  }
  
  /* Título do header */
  .main-header h1 {
    margin: 0;
    flex: 1; /* Faz com que o título ocupe o espaço restante */
    text-align: center; /* Centraliza o título no espaço disponível */
  }
  
  /* Navegação dentro do header */
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  