/* Estilos para a linha de topo */
.top-bar {
    display: flex; /* Adiciona o display flex */
    justify-content: space-between; /* Distribui o espaço entre o texto e os ícones sociais */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    padding: 0.1rem; /* Menos padding para tornar mais fino */
    background-color: green; /* Cor de fundo verde */
    font-size: 0.8rem; /* Tamanho da fonte menor */
    color: #fff; /* Cor do texto */
    line-height: 1rem; /* Ajusta a altura da linha do texto */
    height: 1.9rem; /* Define a altura total da .top-bar */
  }
  .endereco i {
    margin-top: 1rem;
    margin-right: 0.3rem; /* Adiciona espaço entre o ícone e o texto */
    margin-left: 15rem;
    color: #fff; /* Cor do ícone */
  }
  
  
  /* Estilos para os ícones sociais */
  .social {
    display: flex; /* Alinha os ícones socialmente em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    gap: 1rem; /* Espaço entre os ícones */
    margin-right: 15rem;
  }
  
  .social-icons {
    color: #fff; /* Cor dos ícones sociais */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 1rem; /* Ajusta o tamanho dos ícones */
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .social-icons:hover {
    color: #ddd; /* Cor dos ícones ao passar o mouse */
  }
  .social p {
    margin: 0;
    color: #fff;
    font-size: 0.8rem;
  }
  
  /* Estilos para o header principal */
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
    color: black;
    margin-right: 18rem;
    height: 10rem;
  }
  
  /* Logo no espaço flexível */
  .header-logo {
    height: 160px; /* Ajuste conforme necessário */
    margin-right: 1rem; /* Espaço entre logo e título */
    margin-left: 12rem;
  }
  
  /* Navegação dentro do header */
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
  }
  